<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<div class="form-group" %>
  <%= form.label :domain %>
  <%= form.text_field :domain, class: "form-control", placeholder: "http://localhost" %>
</div>
<div class="form-group" %>
  <%= form.label :port %>
  <%= form.text_field :port, class: "form-control", placeholder: "3005" %>
</div>
<div class="form-group" %>
  <%= form.label :path %>
  <%= form.text_field :path, class: "form-control", placeholder: "/d2l/api/lr/1.0/objects" %>
</div>
<%= form.submit %>
